@using Company.Data.Models
@using Company.Servies.Interfaces.services.Dto

@model IEnumerable<DepartmentDto>

@{
    ViewData["Title"] = "Index";
}

@if (Model.Any())
{
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Code</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var department in Model)
            {
                <tr>
                    <th scope="row">@department.Id</th>
                    <td>@department.Name</td>
                    <td>@department.Code</td>
                    <td>
                        <a href="@Url.Action("Details", "Department", new { id = department.Id })" class="btn btn-info">Details</a>
                        <a href="@Url.Action("Edit", "Department", new { id = department.Id })" class="btn btn-primary">Update</a>
                        <a href="@Url.Action("Delete", "Department", new { id = department.Id })" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a href="@Url.Action("Create", "Department")" class="btn btn-success">Add New Department</a>
}
else
{
    <h3>There are no departments</h3>
    <a href="@Url.Action("Create", "Department")" class="btn btn-success">Add New Department</a>
}
